{% extends '@NetBSCore/layout/modal.layout.twig' %}

{% block title %}Changement de mot de passe{% endblock %}

{% block content %}

    <p>
        Cet outil sert à changer le mot de passe d'un chef qui aurait oublié le sien mdr.
        <div class="alert  alert-info">Oublie pas de lui dire que c'est un blaireau</div>
    </p>

    {{ form(form) }}
{% endblock %}