services:

    ovesco.facturation.debiteur_type:
        class: Ovesco\FacturationBundle\Form\Type\DebiteurType
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@ovesco.facturation.select2.debiteur"
            - "@netbs.fichier.config"
        tags:
            - { name: form.type }

    ovesco.facturation.select2.debiteur:
        class: Ovesco\FacturationBundle\Select2\Select2DebiteurProvider
        arguments:
            - "@netbs.fichier.select2.membre_provider"
            - "@netbs.fichier.select2.famille_provider"
        tags:
            - { name: netbs.select2_provider }

    ovesco.facturation.subscribers.doctrine_debiteur:
        class: Ovesco\FacturationBundle\Subscriber\DoctrineDebiteurSubscriber
        arguments:
            - "@netbs.fichier.config"
        tags:
            - { name: doctrine.event_subscriber }

    ovesco.facturation.exporter.pdf_factures:
        class: Ovesco\FacturationBundle\Exporter\PDFFacture
        arguments:
            - "@doctrine.orm.entity_manager"
        tags:
            - { name: netbs.exporter }

    ovesco.facturation.list.debiteur_factures:
        class: Ovesco\FacturationBundle\ListModel\DebiteurFacturesList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.list.debiteur_creances:
        class: Ovesco\FacturationBundle\ListModel\DebiteurCreancesList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.list.factures_ouvertes:
        class: Ovesco\FacturationBundle\ListModel\FacturesOuvertesList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.list.facture_models:
        class: Ovesco\FacturationBundle\ListModel\FactureModelsList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.list.facture_creances:
        class: Ovesco\FacturationBundle\ListModel\FactureCreancesList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.list.given_factures:
        class: Ovesco\FacturationBundle\ListModel\GivenFacturesList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.list.facture_rappels:
        class: Ovesco\FacturationBundle\ListModel\FactureRappelsList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.list.facture_paiements:
        class: Ovesco\FacturationBundle\ListModel\FacturePaiementsList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.list.facture_attente_paiement:
        class: Ovesco\FacturationBundle\ListModel\FacturesAttentePaiementList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.list.facture_attente_impression:
        class: Ovesco\FacturationBundle\ListModel\FacturesAttenteImpressionList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.list.comptes:
        class: Ovesco\FacturationBundle\ListModel\ComptesList
        tags:
            - { name: netbs.list.model }

    ovesco.facturation.form.config_facture_export:
        class: Ovesco\FacturationBundle\Form\FactureConfigType
        arguments:
            - "@doctrine.orm.entity_manager"
        tags:
            - { name: form.type }

    ovesco.facturation.listener.membre_famille_page_layout:
        class: Ovesco\FacturationBundle\Listener\MembreFamillePageListener
        arguments:
            - "@request_stack"
            - "@twig"
        tags:
            - { name: kernel.event_listener, event: netbs.block.pre_render_layout, method: extendsMembreFamillePage }

    ovesco.facturation.security.facturation_voter:
        class: Ovesco\FacturationBundle\Voter\FacturationVoter
        tags:
            - { name: security.voter }

    ovesco.facturation.listener.main_menu:
        class: Ovesco\FacturationBundle\Listener\MainMenuListener
        arguments:
            - "@security.token_storage"
        tags:
            - { name: kernel.event_listener, event: netbs.menu.extend, method: onMenuConfigure, priority: 80 }

    ovesco.facturation.mass_creance:
        class: Ovesco\FacturationBundle\MassUpdater\CreanceMassUpdater
        tags:
            - { name: netbs.mass_updater }

    ovesco.facturation.bridge.creance_to_adressable:
        class: Ovesco\FacturationBundle\Bridge\CreanceToAdressable
        tags:
              - { name: netbs.bridge }

    ovesco.facturation.dynamics.factures:
        class: Ovesco\FacturationBundle\ListModel\DynamicFactureList
        tags:
            - { name: netbs.list.model }
            - { name: netbs.dynamic_model }

    ovesco.facturation.bridge.facture_to_adressable:
        class: Ovesco\FacturationBundle\Bridge\FactureToAdressable
        tags:
              - { name: netbs.bridge }

    ovesco.facturation.renderer.netbs.toolbar_listener:
        class: Ovesco\FacturationBundle\Listener\NetbsToolbarListener
        arguments:
            - "@netbs.core.bridge_manager"
            - "@twig"
            - "@security.token_storage"
        tags:
            - { name: kernel.event_listener, event: netbs.list_model.renderer.toolbar, method: extend }

    ovesco.facturation.searcher.creances:
        class: Ovesco\FacturationBundle\Searcher\CreanceSearcher
        tags:
            - { name: netbs.searcher }
            - { name: netbs.list.model }

    ovesco.facturation.searcher.factures:
        class: Ovesco\FacturationBundle\Searcher\FactureSearcher
        tags:
            - { name: netbs.searcher }
            - { name: netbs.list.model }

    ovesco.facturation.helper.facture:
        class: Ovesco\FacturationBundle\Helper\FactureHelper
        tags:
            - { name: netbs.helper }

    ovesco.facturation.searcher.count_binder:
        class: Ovesco\FacturationBundle\Searcher\CountBinder
        tags:
            - { name: netbs.searcher.binder }

    ovesco.facturation.searcher.sum_binder:
        class: Ovesco\FacturationBundle\Searcher\CompareBinder
        tags:
            - { name: netbs.searcher.binder }

    ovesco.facturation.searcher.latest_date_binder:
        class: Ovesco\FacturationBundle\Searcher\LatestDateBinder
        tags:
            - { name: netbs.searcher.binder }


    ovesco.facturation.searcher.is_printed_binder:
        class: Ovesco\FacturationBundle\Searcher\HasBeenPrintedBinder
        tags:
            - { name: netbs.searcher.binder }

    ovesco.facturation.searcher.creance_ouverte_binder:
        class: Ovesco\FacturationBundle\Searcher\CreanceOuverteBinder
        tags:
            - { name: netbs.searcher.binder }

    ovesco.facturation.searcher.creance_in_facture:
        class: Ovesco\FacturationBundle\Searcher\CreanceInFactureBinder
        tags:
            - { name: netbs.searcher.binder }

    ovesco.facturation.deleter.creance:
        class: Ovesco\FacturationBundle\Deleter\CreanceDeleter
        tags:
            - { name: netbs.deleter }

    ovesco.facturation.deleter.facture:
        class: Ovesco\FacturationBundle\Deleter\FactureDeleter
        tags:
            - { name: netbs.deleter }
