{% extends '@NetBSCore/layout/backend.layout.twig' %}

{% set title %}Galerie{% endset %}

{% set repairDirectoryAction %}<button class="btn btn-primary" data-modal data-modal-url="{{ path('netbs.galerie.admin.modal_map_distant') }}">Mapper un dossier distant</button>{% endset %}
{% set updateTokenAction %}<button class="btn btn-primary" data-modal data-modal-url="{{ path('netbs.galerie.admin.modal_update_token') }}">Changer la clé d'accès</button>{% endset %}

{% block main %}

    {{ registerJs(asset('bundles/netbscore/js/modal.js')) }}

    <div class="container-fluid">
        {% include '@NetBSCore/includes/header.include.twig' with {
        header: "Galerie",
        subHeader: "Administration du cache de la galerie BS",
        actions: [repairDirectoryAction, updateTokenAction]} %}

        <div class="card card-table">
            <div class="card-header">
                <h5 class="card-title">Noeuds enregistrés</h5>
            </div>

            <div class="card-body">
                {{ render_list('galerie.directories', 'netbs') }}
            </div>
        </div>

    </div>
{% endblock %}