{% extends '@NetBSCore/layout/backend.layout.twig' %}

{% set title %}Galerie{% endset %}

{% block main %}
    <div class="container-fluid">
        {% include '@NetBSCore/includes/header.include.twig' with {
        header: "Gestion des noeuds de la galerie"
        } %}

        <div class="card card-table">
            <div class="card-header">
                <h5 class="card-title">Noeuds enregistrés</h5>
            </div>

            <div class="card-body">
                {{ render_list('galerie.directories', 'netbs') }}
            </div>
        </div>

    </div>
{% endblock %}