{% extends '@NetBSCore/layout/modal.layout.twig' %}

{% block title %}Mapper un dossier distant{% endblock %}

{% block content %}
    Cet outil vous permet de mapper un dossier de la stammbox manuellement. Récupérez le chemin du dossier, celui-ci commence
    forcément par <b>galerie</b> et se termine par le nom du dossier à mapper.<br/>
    Par exemple: <i>galerie/montfort/ce '18/jour 2</i>

    <div class="alert alert-warning mt-3">
        Attention le mapping se contentera d'ajouter les images que la galerie ne connaît pas encore, elle ne supprime rien.
        Pour mettre complètement à jour, commencez par supprimer le dossier puis à le mapper.
    </div>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-lg-12">{{ form_row(form.url) }}</div>
    </div>
    {{ form_end(form) }}
{% endblock %}