<p>Vous pouvez vous connecter au bot whatsapp en écrivant au numéro suivant</p>
<p><b>012 345 67 89</b>. Entrez ensuite le message suivant</p>
<h4 class="alert alert-primary  mb-0">login {{ slug }}</h4>

