{% extends '@NetBSCore/searcher/searcher.html.twig' %}

{% block searchForm %}

    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.numero) }}
            {{ form_row(form.model) }}
            {{ form_row(form.status) }}
        </div>
    </div>

{% endblock %}
