<h5>Créances liées</h5>
{{ render_list('ovesco.facturation.facture_creances', 'basic', { facture: item }) }}
<div class="row mt-5">
    <div class="col-12 col-md-8">
        <h5>Paiements effectués</h5>
        {{ render_list('ovesco.facturation.facture_paiements', 'basic', { facture: item }) }}
    </div>
    <div class="col-12 col-md-4">
        <h5>Rappels générés</h5>
        {{ render_list('ovesco.facturation.facture_paiements', 'basic', { facture: item }) }}
    </div>
</div>