{% extends '@NetBSCore/layout/modal.layout.twig' %}
{% set scripts %}
    <script>
        $('.btn-modal').click(function() {
            var $btn = $(this);
            var id = $btn.closest('.modal').attr('id');
            var type = ('data-type');
            $('.btn-modal').addClass('disabled');

            $.get('{{ path('sauvabelin.mailing_lists.update_rule_ml', {id: list.id}) }}?type=' + type).then(function(data) {
                $('.btn-modal').removeClass('disabled');
                $('#' + id).modal('hide');
            });
        });
    </script>
{% endset %}

{% block title %}Vérifier la mise à jour d'une mailing liste{% endblock %}
{% block widthClass %}modal-lg{% endblock %}
{% block content %}
    {{ registerScript(scripts) }}
    <p>
        La mailing liste est listée dans le fichier mais n'existe pas sur le serveur mail, elle n'est ainsi pas encore active et aucun
        mail envoyé ne seront transmis.
    </p>
{% endblock %}

{% block footer %}
    <button type="button" data-dismiss="modal" class="btn btn-modal btn-secondary">Annuler</button>
    <button type="button" class="btn btn-primary btn-modal">Créer</button>
{% endblock %}
