services:

    ovesco.galerie.imagine.cache_resolver:
        class: Ovesco\GalerieBundle\Imagine\GalerieCacheResolver
        arguments:
            - "%web_path%"
            - "@ovesco.galerie.config"
            - "@filesystem"
        tags:
            - { name: "liip_imagine.cache.resolver", resolver: ovesco.galerie_cache_resolver }

    ovesco.galerie.serializer.media_normalizer:
        class: Ovesco\GalerieBundle\Serializer\MediaNormalizer
        arguments:
            - "%web_path%"
            - "@liip_imagine.cache.manager"
            - "@twig.extension.assets"
            - "@ovesco.galerie.config"
        tags:
            - { name: serializer.normalizer }

    ovesco.galerie.serializer.directory_normalizer:
        class: Ovesco\GalerieBundle\Serializer\DirectoryNormalizer
        arguments:
            - "@ovesco.galerie.serializer.media_normalizer"
        tags:
            - { name: serializer.normalizer }